*
{
	margin: 0px;
	padding: 0px;
	font-family: "poppins", sans-serif;
	box-sizing: border-box;
}
body{
	background-color: #222;
}

.card{
	width: 400px;
	max-width: 470px;
	background: linear-gradient(200deg, #00feba, blue);
	color: #fff;
	margin: 100px auto 0;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
}

.search{
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search input{
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 45px;
	border-radius: 30px;
	flex: 1;
	margin-right: 16px;
	font-size: 18px;
}

.search button{
	border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50px;
	width: 50px;
	height: 45px;
	cursor: pointer;
}

.search button img{
	width: 45px;
}

.weather-icon{
	width: 140px;
	margin-top:10px ;
}

.weather h1{
	font-size: 60px;
	font-weight: 500;
}

.weather h2{
	font-size: 30px;
	font-weight: 400;
	margin-top: 5px;
}

.details{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: 50px;
}

.col{
	display: flex;
	align-items: center;
	text-align: left;
}

.col img{
	width: 50px;
	margin-right: 10px;

}

.humidity, .wind{
	font-size: 20px;
	margin-top: -6px;
}

.weather{
	display: none;
}

.error{
	margin-top: 10px;
	font-size: 15px;
	margin-left: 27px;
	text-align: left;
	display: none;
}